In [89]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

try:
	df = pd.read_csv(r"C:\Users\Humayun\Downloads\Chicago_Crimes_2012_to_2017 (1)\Chicago_Crimes_2012_to_2017.csv")
	print("Data loaded successfully!")
	df.head()
except FileNotFoundError:
	print("File not found at the specified path.")
	print("Please check if the file exists or use an alternative method to load the data.")

Data loaded successfully!

In [90]:
df.head()

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,3,10508693,HZ250496,05/03/2016 11:40:00 PM,013XX S SAWYER AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,...,24.0,29.0,08B,1154907.0,1893681.0,2016,05/10/2016 03:56:50 PM,41.864073,-87.706819,"(41.864073157, -87.706818608)"
1,89,10508695,HZ250409,05/03/2016 09:40:00 PM,061XX S DREXEL AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,...,20.0,42.0,08B,1183066.0,1864330.0,2016,05/10/2016 03:56:50 PM,41.782922,-87.604363,"(41.782921527, -87.60436317)"
2,197,10508697,HZ250503,05/03/2016 11:31:00 PM,053XX W CHICAGO AVE,0470,PUBLIC PEACE VIOLATION,RECKLESS CONDUCT,STREET,False,...,37.0,25.0,24,1140789.0,1904819.0,2016,05/10/2016 03:56:50 PM,41.894908,-87.758372,"(41.894908283, -87.758371958)"
3,673,10508698,HZ250424,05/03/2016 10:10:00 PM,049XX W FULTON ST,0460,BATTERY,SIMPLE,SIDEWALK,False,...,28.0,25.0,08B,1143223.0,1901475.0,2016,05/10/2016 03:56:50 PM,41.885687,-87.749516,"(41.885686845, -87.749515983)"
4,911,10508699,HZ250455,05/03/2016 10:00:00 PM,003XX N LOTUS AVE,0820,THEFT,$500 AND UNDER,RESIDENCE,False,...,28.0,25.0,06,1139890.0,1901675.0,2016,05/10/2016 03:56:50 PM,41.886297,-87.761751,"(41.886297242, -87.761750709)"

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1456714 entries, 0 to 1456713
Data columns (total 23 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Unnamed: 0            1456714 non-null  int64
 1   ID                    1456714 non-null  int64
 2   Case Number           1456713 non-null  object
 3   Date                  1456714 non-null  object
 4   Block                 1456714 non-null  object
 5   IUCR                  1456714 non-null  object
 6   Primary Type          1456714 non-null  object
 7   Description           1456714 non-null  object
 8   Location Description  1455056 non-null  object
 9   Arrest                1456714 non-null  bool
 10  Domestic              1456714 non-null  bool
 11  Beat                  1456714 non-null  int64
 12  District              1456713 non-null  float64
 13  Ward                  1456700 non-null  float64
 14  Community Area        1456674 non-null  float64
 15  FBI Code              1456714 non-null  object
 16  X Coordinate          1419631 non-null  float64
 17  Y Coordinate          1419631 non-null  float64
 18  Year                  1456714 non-null  int64
 19  Updated On            1456714 non-null  object
 20  Latitude              1419631 non-null  float64
 21  Longitude             1419631 non-null  float64
 22  Location              1419631 non-null  object
dtypes: bool(2), float64(7), int64(4), object(10)
memory usage: 236.2+ MB

# Data Cleaning & Transformations

In [92]:
df = df.drop(columns=['Unnamed: 0'])

In [93]:
# Check missing values
print(f"Missing Latitude: {df['Latitude'].isnull().sum()}")
print(f"Missing Longitude: {df['Longitude'].isnull().sum()}")

Missing Latitude: 37083
Missing Longitude: 37083

In [94]:
# Drop rows with missing latitude or longitude
df = df.dropna(subset=['Latitude', 'Longitude'])

In [95]:
# Convert to datetime
df['Date'] = pd.to_datetime(df['Date'], format='%m/%d/%Y %I:%M:%S %p', errors='coerce')

# Drop rows where Date conversion failed
df = df.dropna(subset=['Date'])

# Normalize timestamps into components
df['Year_Extracted'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df['Hour'] = df['Date'].dt.hour
df['Weekday'] = df['Date'].dt.day_name()

In [96]:
df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Year,Updated On,Latitude,Longitude,Location,Year_Extracted,Month,Day,Hour,Weekday
0,10508693,HZ250496,2016-05-03 23:40:00,013XX S SAWYER AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,True,...,2016,05/10/2016 03:56:50 PM,41.864073,-87.706819,"(41.864073157, -87.706818608)",2016,5,3,23,Tuesday
1,10508695,HZ250409,2016-05-03 21:40:00,061XX S DREXEL AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,...,2016,05/10/2016 03:56:50 PM,41.782922,-87.604363,"(41.782921527, -87.60436317)",2016,5,3,21,Tuesday
2,10508697,HZ250503,2016-05-03 23:31:00,053XX W CHICAGO AVE,0470,PUBLIC PEACE VIOLATION,RECKLESS CONDUCT,STREET,False,False,...,2016,05/10/2016 03:56:50 PM,41.894908,-87.758372,"(41.894908283, -87.758371958)",2016,5,3,23,Tuesday
3,10508698,HZ250424,2016-05-03 22:10:00,049XX W FULTON ST,0460,BATTERY,SIMPLE,SIDEWALK,False,False,...,2016,05/10/2016 03:56:50 PM,41.885687,-87.749516,"(41.885686845, -87.749515983)",2016,5,3,22,Tuesday
4,10508699,HZ250455,2016-05-03 22:00:00,003XX N LOTUS AVE,0820,THEFT,$500 AND UNDER,RESIDENCE,False,True,...,2016,05/10/2016 03:56:50 PM,41.886297,-87.761751,"(41.886297242, -87.761750709)",2016,5,3,22,Tuesday

In [97]:
# Check duplicates
print(f"Duplicate IDs: {df.duplicated(subset=['ID']).sum()}")

# Drop duplicates based on ID
df = df.drop_duplicates(subset=['ID'])

Duplicate IDs: 0

In [98]:
# List of columns to uppercase and strip spaces
textual_columns = ['Case Number', 'Block', 'IUCR', 'Primary Type', 
                   'Description', 'Location Description', 'FBI Code']

# Apply upper and strip
for col in textual_columns:
    if col in df.columns:
        df[col] = df[col].astype(str).str.upper().str.strip()

# For 'Arrest' and 'Domestic', ensure proper boolean type
bool_columns = ['Arrest', 'Domestic']
for col in bool_columns:
    if col in df.columns:
        df[col] = df[col].astype(bool)

# For Ward and Community Area, fill missing and cast to integer if needed
ward_columns = ['Ward', 'Community Area']
for col in ward_columns:
    if col in df.columns:
        df[col] = df[col].fillna(-1).astype(int)

| Column | Action |
| --- | --- |
| Case Number | Uppercased, stripped spaces |
| Block | Uppercased, stripped spaces |
| IUCR | Uppercased, stripped spaces |
| Primary Type | Uppercased, stripped spaces |
| Description | Uppercased, stripped spaces |
| Location Description | Uppercased, stripped spaces |
| FBI Code | Uppercased, stripped spaces |
| Arrest | Ensured Boolean values |
| Domestic | Ensured Boolean values |
| Ward | Filled missing with -1, converted to int |
| Community Area | Filled missing with -1, converted to int |

In [99]:
df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Year,Updated On,Latitude,Longitude,Location,Year_Extracted,Month,Day,Hour,Weekday
0,10508693,HZ250496,2016-05-03 23:40:00,013XX S SAWYER AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,True,...,2016,05/10/2016 03:56:50 PM,41.864073,-87.706819,"(41.864073157, -87.706818608)",2016,5,3,23,Tuesday
1,10508695,HZ250409,2016-05-03 21:40:00,061XX S DREXEL AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,...,2016,05/10/2016 03:56:50 PM,41.782922,-87.604363,"(41.782921527, -87.60436317)",2016,5,3,21,Tuesday
2,10508697,HZ250503,2016-05-03 23:31:00,053XX W CHICAGO AVE,0470,PUBLIC PEACE VIOLATION,RECKLESS CONDUCT,STREET,False,False,...,2016,05/10/2016 03:56:50 PM,41.894908,-87.758372,"(41.894908283, -87.758371958)",2016,5,3,23,Tuesday
3,10508698,HZ250424,2016-05-03 22:10:00,049XX W FULTON ST,0460,BATTERY,SIMPLE,SIDEWALK,False,False,...,2016,05/10/2016 03:56:50 PM,41.885687,-87.749516,"(41.885686845, -87.749515983)",2016,5,3,22,Tuesday
4,10508699,HZ250455,2016-05-03 22:00:00,003XX N LOTUS AVE,0820,THEFT,$500 AND UNDER,RESIDENCE,False,True,...,2016,05/10/2016 03:56:50 PM,41.886297,-87.761751,"(41.886297242, -87.761750709)",2016,5,3,22,Tuesday

In [100]:
# Save the cleaned version
df.to_csv('Cleaned_Crimes_in_Chicago.csv', index=False)

print("âœ… Cleaned data saved successfully!")

âœ… Cleaned data saved successfully!

# Database Schema (Normalization)

In [101]:
# Extract Crime Types
crime_types = df[['Primary Type', 'Description']].drop_duplicates().reset_index(drop=True)

# Create unique Crime_Type_ID
crime_types['Crime_Type_ID'] = crime_types.index + 1

# Reorder columns
crime_types = crime_types[['Crime_Type_ID', 'Primary Type', 'Description']]
crime_types.head()

   Crime_Type_ID            Primary Type              Description
0              1                 BATTERY  DOMESTIC BATTERY SIMPLE
1              2  PUBLIC PEACE VIOLATION         RECKLESS CONDUCT
2              3                 BATTERY                   SIMPLE
3              4                   THEFT           $500 AND UNDER
4              5                 BATTERY      AGGRAVATED: HANDGUN

In [102]:
# Extract Locations
locations = df[['Block', 'Location Description', 'Latitude', 'Longitude', 'Ward', 'Community Area']].drop_duplicates().reset_index(drop=True)

# Create unique Location_ID
locations['Location_ID'] = locations.index + 1

# Reorder columns
locations = locations[['Location_ID', 'Block', 'Location Description', 'Latitude', 'Longitude', 'Ward', 'Community Area']]
locations.head()

,Location_ID,Block,Location Description,Latitude,Longitude,Ward,Community Area
0,1,013XX S SAWYER AVE,APARTMENT,41.864073,-87.706819,24,29
1,2,061XX S DREXEL AVE,RESIDENCE,41.782922,-87.604363,20,42
2,3,053XX W CHICAGO AVE,STREET,41.894908,-87.758372,37,25
3,4,049XX W FULTON ST,SIDEWALK,41.885687,-87.749516,28,25
4,5,003XX N LOTUS AVE,RESIDENCE,41.886297,-87.761751,28,25

In [103]:
# Merge Crime_Types to get Crime_Type_ID
df = df.merge(crime_types, on=['Primary Type', 'Description'], how='left')

# Merge Locations to get Location_ID
df = df.merge(locations, on=['Block', 'Location Description', 'Latitude', 'Longitude', 'Ward', 'Community Area'], how='left')

# Create Incidents table
incidents = df[['ID', 'Case Number', 'Date', 'Arrest', 'Domestic', 
                'Crime_Type_ID', 'Location_ID', 'IUCR', 'FBI Code', 
                'Year_Extracted', 'Month', 'Day', 'Hour', 'Weekday']]

# Rename columns nicely
incidents.rename(columns={'ID': 'Incident_ID', 
                          'Case Number': 'Case_Number', 
                          'FBI Code': 'FBI_Code', 
                          'Year_Extracted': 'Year'}, inplace=True)

c:\Users\Humayun\anaconda3\envs\ev_\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [104]:
incidents.head()

,Incident_ID,Case_Number,Date,Arrest,Domestic,Crime_Type_ID,Location_ID,IUCR,FBI_Code,Year,Month,Day,Hour,Weekday
0,10508693,HZ250496,2016-05-03 23:40:00,True,True,1,1,0486,08B,2016,5,3,23,Tuesday
1,10508695,HZ250409,2016-05-03 21:40:00,False,True,1,2,0486,08B,2016,5,3,21,Tuesday
2,10508697,HZ250503,2016-05-03 23:31:00,False,False,2,3,0470,24,2016,5,3,23,Tuesday
3,10508698,HZ250424,2016-05-03 22:10:00,False,False,3,4,0460,08B,2016,5,3,22,Tuesday
4,10508699,HZ250455,2016-05-03 22:00:00,False,True,4,5,0820,06,2016,5,3,22,Tuesday

# Feature Engineering & Table Reshaping

## Spatial Density (Incidents per kmÂ² per Community Area)

In [106]:
print(f"Average Community Area: {df['Community Area'].mean()}")

Average Community Area: 37.4624701771094

In [107]:
# Total number of incidents per Community Area
community_counts = df.groupby('Community Area').size().reset_index(name='Total_Incidents')

# Assume average community area size
avg_area_km2 = df['Community Area'].mean()

# Calculate spatial density
community_counts['Spatial_Density'] = community_counts['Total_Incidents'] / avg_area_km2

# Merge back to Locations
locations = locations.merge(community_counts[['Community Area', 'Spatial_Density']], on='Community Area', how='left')

In [108]:
locations.head()

,Location_ID,Block,Location Description,Latitude,Longitude,Ward,Community Area,Spatial_Density
0,1,013XX S SAWYER AVE,APARTMENT,41.864073,-87.706819,24,29,1196.450736
1,2,061XX S DREXEL AVE,RESIDENCE,41.782922,-87.604363,20,42,568.382168
2,3,053XX W CHICAGO AVE,STREET,41.894908,-87.758372,37,25,2474.823458
3,4,049XX W FULTON ST,SIDEWALK,41.885687,-87.749516,28,25,2474.823458
4,5,003XX N LOTUS AVE,RESIDENCE,41.886297,-87.761751,28,25,2474.823458

## Rolling 7-day Average of Incident Counts

In [109]:
# Convert 'Date' to datetime
df['Date'] = pd.to_datetime(df['Date'])

# Sort by Date
df = df.sort_values('Date')

# Create a daily incident count
daily_counts = df.groupby(df['Date'].dt.date).size().reset_index(name='Daily_Incidents')

# Rolling 7-day average
daily_counts['Rolling_7D_Avg'] = daily_counts['Daily_Incidents'].rolling(window=7, min_periods=1).mean()

# Merge rolling average back to incidents
df = df.merge(daily_counts[['Date', 'Rolling_7D_Avg']], left_on=df['Date'].dt.date, right_on='Date', how='left')
df

,Date,ID,Case Number,Date_x,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Location,Year_Extracted,Month,Day,Hour,Weekday,Crime_Type_ID,Location_ID,Date_y,Rolling_7D_Avg
0,2012-01-01,8504113,HV180506,2012-01-01 00:00:00,016XX W BRYN MAWR AVE,2826,OTHER OFFENSE,HARASSMENT BY ELECTRONIC MEANS,RESIDENCE,False,...,"(41.983449123, -87.671491808)",2012,1,1,0,Sunday,37,96041,2012-01-01,1333.000000
1,2012-01-01,8438257,HV115828,2012-01-01 00:00:00,016XX E 50TH PL,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,APARTMENT,False,...,"(41.803413431, -87.586052837)",2012,1,1,0,Sunday,17,65814,2012-01-01,1333.000000
2,2012-01-01,8423128,HV102292,2012-01-01 00:00:00,007XX S STATE ST,0320,ROBBERY,STRONGARM - NO WEAPON,STREET,False,...,"(41.872894484, -87.627560076)",2012,1,1,0,Sunday,26,10957,2012-01-01,1333.000000
3,2012-01-01,8904856,HV578917,2012-01-01 00:00:00,002XX E CHESTNUT ST,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,...,"(41.898458275, -87.619318967)",2012,1,1,0,Sunday,288,45031,2012-01-01,1333.000000
4,2012-01-01,8557056,HV232910,2012-01-01 00:00:00,035XX W 60TH PL,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,...,"(41.783396397, -87.711256524)",2012,1,1,0,Sunday,1,119683,2012-01-01,1333.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1419626,2017-01-16,23085,JA116127,2017-01-16 13:35:00,004XX S CENTRAL AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,...,"(41.874393341, -87.76464733)",2017,1,16,13,Monday,42,535789,2017-01-16,2.428571
1419627,2017-01-17,23088,JA119925,2017-01-17 23:42:00,001XX N CENTRAL AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,...,"(41.882904764, -87.764950104)",2017,1,17,23,Tuesday,42,746759,2017-01-17,2.285714
1419628,2017-01-18,23087,JA119807,2017-01-18 00:45:00,000XX W 79TH ST,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,...,"(41.750934055, -87.626325022)",2017,1,18,0,Wednesday,42,746767,2017-01-18,2.285714
1419629,2017-01-18,23090,JA119838,2017-01-18 09:45:00,051XX S BLACKSTONE AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,...,"(41.801809396, -87.590494612)",2017,1,18,9,Wednesday,42,464340,2017-01-18,2.285714
1419630,2017-01-18,23091,JA120151,2017-01-18 10:12:00,047XX W FLOURNOY ST,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,...,"(41.872292662, -87.74424056)",2017,1,18,10,Wednesday,42,746768,2017-01-18,2.285714

## Weekend/Weekday Flag

In [110]:
# Create a flag: 1 if Weekend, 0 if Weekday
df['Weekend_Flag'] = df['Date_x'].dt.weekday.apply(lambda x: 1 if x >= 5 else 0)
df

,Date,ID,Case Number,Date_x,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Year_Extracted,Month,Day,Hour,Weekday,Crime_Type_ID,Location_ID,Date_y,Rolling_7D_Avg,Weekend_Flag
0,2012-01-01,8504113,HV180506,2012-01-01 00:00:00,016XX W BRYN MAWR AVE,2826,OTHER OFFENSE,HARASSMENT BY ELECTRONIC MEANS,RESIDENCE,False,...,2012,1,1,0,Sunday,37,96041,2012-01-01,1333.000000,1
1,2012-01-01,8438257,HV115828,2012-01-01 00:00:00,016XX E 50TH PL,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,APARTMENT,False,...,2012,1,1,0,Sunday,17,65814,2012-01-01,1333.000000,1
2,2012-01-01,8423128,HV102292,2012-01-01 00:00:00,007XX S STATE ST,0320,ROBBERY,STRONGARM - NO WEAPON,STREET,False,...,2012,1,1,0,Sunday,26,10957,2012-01-01,1333.000000,1
3,2012-01-01,8904856,HV578917,2012-01-01 00:00:00,002XX E CHESTNUT ST,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,...,2012,1,1,0,Sunday,288,45031,2012-01-01,1333.000000,1
4,2012-01-01,8557056,HV232910,2012-01-01 00:00:00,035XX W 60TH PL,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,...,2012,1,1,0,Sunday,1,119683,2012-01-01,1333.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1419626,2017-01-16,23085,JA116127,2017-01-16 13:35:00,004XX S CENTRAL AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,...,2017,1,16,13,Monday,42,535789,2017-01-16,2.428571,0
1419627,2017-01-17,23088,JA119925,2017-01-17 23:42:00,001XX N CENTRAL AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,...,2017,1,17,23,Tuesday,42,746759,2017-01-17,2.285714,0
1419628,2017-01-18,23087,JA119807,2017-01-18 00:45:00,000XX W 79TH ST,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,...,2017,1,18,0,Wednesday,42,746767,2017-01-18,2.285714,0
1419629,2017-01-18,23090,JA119838,2017-01-18 09:45:00,051XX S BLACKSTONE AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,...,2017,1,18,9,Wednesday,42,464340,2017-01-18,2.285714,0
1419630,2017-01-18,23091,JA120151,2017-01-18 10:12:00,047XX W FLOURNOY ST,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,...,2017,1,18,10,Wednesday,42,746768,2017-01-18,2.285714,0

## Repeat Incident Probability

In [111]:
# Count incidents per Block
block_counts = df.groupby('Block').size().reset_index(name='Block_Incidents')

# Total incidents
total_incidents = len(df)

# Probability that a random incident is from a frequently-hit block
block_counts['Repeat_Incident_Prob'] = block_counts['Block_Incidents'] / total_incidents

# Merge back to Locations
locations = locations.merge(block_counts[['Block', 'Repeat_Incident_Prob']], on='Block', how='left')
locations

,Location_ID,Block,Location Description,Latitude,Longitude,Ward,Community Area,Spatial_Density,Repeat_Incident_Prob
0,1,013XX S SAWYER AVE,APARTMENT,41.864073,-87.706819,24,29,1196.450736,0.000090
1,2,061XX S DREXEL AVE,RESIDENCE,41.782922,-87.604363,20,42,568.382168,0.000066
2,3,053XX W CHICAGO AVE,STREET,41.894908,-87.758372,37,25,2474.823458,0.000254
3,4,049XX W FULTON ST,SIDEWALK,41.885687,-87.749516,28,25,2474.823458,0.000078
4,5,003XX N LOTUS AVE,RESIDENCE,41.886297,-87.761751,28,25,2474.823458,0.000087
...,...,...,...,...,...,...,...,...,...
746787,746788,085XX S MAY ST,SIDEWALK,41.738711,-87.652203,21,71,1084.712242,0.000062
746788,746789,088XX S LAFLIN ST,STREET,41.733329,-87.660561,21,71,1084.712242,0.000054
746789,746790,073XX S HARVARD AVE,APARTMENT,41.760744,-87.633335,17,69,957.785214,0.000042
746790,746791,082XX S EXCHANGE AVE,SIDEWALK,41.745252,-87.552773,7,46,718.212117,0.000131
746791,746792,001XX E 75TH ST,PARKING LOT/GARAGE(NON.RESID.),41.758309,-87.620658,6,69,957.785214,0.000085

## Season of Crime

In [112]:
def get_season(month):
    if month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8]:
        return 'Summer'
    else:
        return 'Fall'

df['Crime_Season'] = df['Month'].apply(get_season)
df

,Date,ID,Case Number,Date_x,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Month,Day,Hour,Weekday,Crime_Type_ID,Location_ID,Date_y,Rolling_7D_Avg,Weekend_Flag,Crime_Season
0,2012-01-01,8504113,HV180506,2012-01-01 00:00:00,016XX W BRYN MAWR AVE,2826,OTHER OFFENSE,HARASSMENT BY ELECTRONIC MEANS,RESIDENCE,False,...,1,1,0,Sunday,37,96041,2012-01-01,1333.000000,1,Winter
1,2012-01-01,8438257,HV115828,2012-01-01 00:00:00,016XX E 50TH PL,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,APARTMENT,False,...,1,1,0,Sunday,17,65814,2012-01-01,1333.000000,1,Winter
2,2012-01-01,8423128,HV102292,2012-01-01 00:00:00,007XX S STATE ST,0320,ROBBERY,STRONGARM - NO WEAPON,STREET,False,...,1,1,0,Sunday,26,10957,2012-01-01,1333.000000,1,Winter
3,2012-01-01,8904856,HV578917,2012-01-01 00:00:00,002XX E CHESTNUT ST,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,...,1,1,0,Sunday,288,45031,2012-01-01,1333.000000,1,Winter
4,2012-01-01,8557056,HV232910,2012-01-01 00:00:00,035XX W 60TH PL,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,...,1,1,0,Sunday,1,119683,2012-01-01,1333.000000,1,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1419626,2017-01-16,23085,JA116127,2017-01-16 13:35:00,004XX S CENTRAL AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,...,1,16,13,Monday,42,535789,2017-01-16,2.428571,0,Winter
1419627,2017-01-17,23088,JA119925,2017-01-17 23:42:00,001XX N CENTRAL AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,...,1,17,23,Tuesday,42,746759,2017-01-17,2.285714,0,Winter
1419628,2017-01-18,23087,JA119807,2017-01-18 00:45:00,000XX W 79TH ST,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,...,1,18,0,Wednesday,42,746767,2017-01-18,2.285714,0,Winter
1419629,2017-01-18,23090,JA119838,2017-01-18 09:45:00,051XX S BLACKSTONE AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,...,1,18,9,Wednesday,42,464340,2017-01-18,2.285714,0,Winter
1419630,2017-01-18,23091,JA120151,2017-01-18 10:12:00,047XX W FLOURNOY ST,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,...,1,18,10,Wednesday,42,746768,2017-01-18,2.285714,0,Winter

## Crime Severity Score

In [113]:
# Get unique values from 'Primary Type' column
primary_types = df['Primary Type'].unique()
print(f"Number of unique crime types: {len(primary_types)}")
print("\nUnique crime types:")
for crime_type in sorted(primary_types):
    print(f"- {crime_type}")

Number of unique crime types: 33

Unique crime types:
- ARSON
- ASSAULT
- BATTERY
- BURGLARY
- CONCEALED CARRY LICENSE VIOLATION
- CRIM SEXUAL ASSAULT
- CRIMINAL DAMAGE
- CRIMINAL TRESPASS
- DECEPTIVE PRACTICE
- GAMBLING
- HOMICIDE
- HUMAN TRAFFICKING
- INTERFERENCE WITH PUBLIC OFFICER
- INTIMIDATION
- KIDNAPPING
- LIQUOR LAW VIOLATION
- MOTOR VEHICLE THEFT
- NARCOTICS
- NON - CRIMINAL
- NON-CRIMINAL
- NON-CRIMINAL (SUBJECT SPECIFIED)
- OBSCENITY
- OFFENSE INVOLVING CHILDREN
- OTHER NARCOTIC VIOLATION
- OTHER OFFENSE
- PROSTITUTION
- PUBLIC INDECENCY
- PUBLIC PEACE VIOLATION
- ROBBERY
- SEX OFFENSE
- STALKING
- THEFT
- WEAPONS VIOLATION

In [114]:
# Define severity mapping
severity_mapping = {
    'ARSON': 4,
    'ASSAULT': 4,
    'BATTERY': 4,
    'BURGLARY': 3,
    'CONCEALED CARRY LICENSE VIOLATION': 2,
    'CRIM SEXUAL ASSAULT': 5,
    'CRIMINAL DAMAGE': 3,
    'CRIMINAL TRESPASS': 1,
    'DECEPTIVE PRACTICE': 3,
    'GAMBLING': 2,
    'HOMICIDE': 5,
    'HUMAN TRAFFICKING': 5,
    'INTERFERENCE WITH PUBLIC OFFICER': 2,
    'INTIMIDATION': 1,
    'KIDNAPPING': 5,
    'LIQUOR LAW VIOLATION': 2,
    'MOTOR VEHICLE THEFT': 3,
    'NARCOTICS': 3,
    'NON - CRIMINAL': 1,
    'NON-CRIMINAL': 1,
    'NON-CRIMINAL (SUBJECT SPECIFIED)': 1,
    'OBSCENITY': 2,
    'OFFENSE INVOLVING CHILDREN': 1,
    'OTHER NARCOTIC VIOLATION': 2,
    'OTHER OFFENSE': 2,
    'PROSTITUTION': 2,
    'PUBLIC INDECENCY': 1,
    'PUBLIC PEACE VIOLATION': 2,
    'ROBBERY': 4,
    'SEX OFFENSE': 1,
    'STALKING': 1,
    'THEFT': 3,
    'WEAPONS VIOLATION': 4
}


# Apply mapping
df['Crime_Severity_Score'] = df['Primary Type'].map(severity_mapping)

# Fill missing with 1 (default severity)
df['Crime_Severity_Score'] = df['Crime_Severity_Score'].fillna(1)

In [115]:
df

,Date,ID,Case Number,Date_x,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Day,Hour,Weekday,Crime_Type_ID,Location_ID,Date_y,Rolling_7D_Avg,Weekend_Flag,Crime_Season,Crime_Severity_Score
0,2012-01-01,8504113,HV180506,2012-01-01 00:00:00,016XX W BRYN MAWR AVE,2826,OTHER OFFENSE,HARASSMENT BY ELECTRONIC MEANS,RESIDENCE,False,...,1,0,Sunday,37,96041,2012-01-01,1333.000000,1,Winter,2
1,2012-01-01,8438257,HV115828,2012-01-01 00:00:00,016XX E 50TH PL,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,APARTMENT,False,...,1,0,Sunday,17,65814,2012-01-01,1333.000000,1,Winter,2
2,2012-01-01,8423128,HV102292,2012-01-01 00:00:00,007XX S STATE ST,0320,ROBBERY,STRONGARM - NO WEAPON,STREET,False,...,1,0,Sunday,26,10957,2012-01-01,1333.000000,1,Winter,4
3,2012-01-01,8904856,HV578917,2012-01-01 00:00:00,002XX E CHESTNUT ST,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,...,1,0,Sunday,288,45031,2012-01-01,1333.000000,1,Winter,3
4,2012-01-01,8557056,HV232910,2012-01-01 00:00:00,035XX W 60TH PL,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,...,1,0,Sunday,1,119683,2012-01-01,1333.000000,1,Winter,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1419626,2017-01-16,23085,JA116127,2017-01-16 13:35:00,004XX S CENTRAL AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,...,16,13,Monday,42,535789,2017-01-16,2.428571,0,Winter,5
1419627,2017-01-17,23088,JA119925,2017-01-17 23:42:00,001XX N CENTRAL AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,...,17,23,Tuesday,42,746759,2017-01-17,2.285714,0,Winter,5
1419628,2017-01-18,23087,JA119807,2017-01-18 00:45:00,000XX W 79TH ST,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,...,18,0,Wednesday,42,746767,2017-01-18,2.285714,0,Winter,5
1419629,2017-01-18,23090,JA119838,2017-01-18 09:45:00,051XX S BLACKSTONE AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,...,18,9,Wednesday,42,464340,2017-01-18,2.285714,0,Winter,5
1419630,2017-01-18,23091,JA120151,2017-01-18 10:12:00,047XX W FLOURNOY ST,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,...,18,10,Wednesday,42,746768,2017-01-18,2.285714,0,Winter,5

##  Unpivot Crime Counts

In [116]:
# Group by Year, Month, Primary Type
crime_counts = df.groupby(['Year', 'Month', 'Primary Type']).size().reset_index(name='Crime_Count')

# This is already long-format (unpivoted).
crime_counts

      Year  Month         Primary Type  Crime_Count
0     2012      1                ARSON           39
1     2012      1              ASSAULT         1294
2     2012      1              BATTERY         4305
3     2012      1             BURGLARY         1757
4     2012      1  CRIM SEXUAL ASSAULT          102
...    ...    ...                  ...          ...
1712  2016     12          SEX OFFENSE           41
1713  2016     12             STALKING           15
1714  2016     12                THEFT         4649
1715  2016     12    WEAPONS VIOLATION          241
1716  2017      1             HOMICIDE           30

[1717 rows x 4 columns]

## Pivot monhtly

In [117]:
# Pivot so that each crime type becomes a column
crime_pivot = crime_counts.pivot_table(
    index=['Year', 'Month'],
    columns='Primary Type',
    values='Crime_Count',
    fill_value=0
)

# Reset index if needed for easy access
crime_pivot = crime_pivot.reset_index()

crime_pivot

Primary Type,Year,Month,ARSON,ASSAULT,BATTERY,BURGLARY,CONCEALED CARRY LICENSE VIOLATION,CRIM SEXUAL ASSAULT,CRIMINAL DAMAGE,CRIMINAL TRESPASS,...,OTHER NARCOTIC VIOLATION,OTHER OFFENSE,PROSTITUTION,PUBLIC INDECENCY,PUBLIC PEACE VIOLATION,ROBBERY,SEX OFFENSE,STALKING,THEFT,WEAPONS VIOLATION
0,2012,1,39,1294,4305,1757,0,102,2660,662,...,0,1536,194,2,189,1011,115,24,5703,317
1,2012,2,23,1323,3961,1396,0,102,2350,698,...,0,1546,198,1,207,695,63,17,4886,268
2,2012,3,40,1856,5275,1638,0,101,3143,686,...,0,1489,267,0,300,845,107,20,5933,353
3,2012,4,48,1626,4694,1646,0,106,3081,677,...,0,1462,172,0,226,975,73,15,6184,285
4,2012,5,42,1927,5839,1924,0,124,3271,706,...,0,1527,135,2,317,1267,101,13,6461,321
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,2016,9,44,1666,4225,1332,1,98,2807,570,...,0,1266,75,1,127,1013,80,24,5504,326
57,2016,10,52,1639,4252,1272,4,123,2711,545,...,0,1399,61,0,160,1126,70,14,5499,293
58,2016,11,36,1395,3750,1326,2,98,2533,481,...,0,1195,61,0,113,1131,47,11,5024,279
59,2016,12,36,1237,3381,1244,4,74,2064,462,...,1,1298,12,0,93,1074,41,15,4649,241
60,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

| Step | Action | Output |
| --- | --- | --- |
| 1 | Group by Year, Month, Primary_Type | Unpivoted long table |
| 2 | Pivot for time series | Wide table with crime types as columns |

In [118]:
# Save normalized tables to CSV files
crime_types.to_csv('Crime_Types.csv', index=False)
locations.to_csv('Locations.csv', index=False)
incidents.to_csv('Incidents.csv', index=False)

print("âœ… All normalized data tables saved successfully!")

# Save the feature-engineered dataframe to CSV
# Include only necessary columns from df with new features
feature_df = df[['ID', 'Date', 'Primary Type', 'Block', 'Crime_Severity_Score', 
                'Weekend_Flag', 'Crime_Season', 'Location_ID', 'Crime_Type_ID']]
feature_df.to_csv('Feature_Engineered_Data.csv', index=False)

# Save aggregated crime statistics 
crime_counts.to_csv('Crime_Counts_by_Type_Month_Year.csv', index=False)
crime_pivot.to_csv('Crime_Pivot_Table.csv', index=False)
daily_counts.to_csv('Daily_Crime_Counts_with_Rolling_Avg.csv', index=False)

print("âœ… All feature-engineered and aggregated data saved successfully!")

âœ… All normalized data tables saved successfully!
âœ… All feature-engineered and aggregated data saved successfully!

In [119]:
# Save both files
crime_pivot.to_csv('pivot_crime_count.csv', index=False)
crime_counts.to_csv('unpivot_crime_counts_by_type_month_year.csv', index=False)

print("âœ… CSV files for crime_pivot and crime_counts have been generated successfully.")

âœ… CSV files for crime_pivot and crime_counts have been generated successfully.